body{
    background-color: black;
    background-size: cover;
    color: white;
}

.encabezado-quienes_somos{
    background-color: deepskyblue;

}

.fa-solid{
    background-color: deepskyblue;
    color: white;
}

.border_azul {
    border-bottom-width: 1;
    border-bottom-color: deepskyblue;
    border-bottom-style: solid;
}

#img_prueba{
    /* height: 13%; */
    width: auto;
}

.card-body{
    background-color: deepskyblue;
    color: white;
}

footer{
    background-color: deepskyblue;
    color: white;
}

.logo_footer{
    vertical-align: middle;
}
